body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #222;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.display {
    width: 290px;
    height: 100px;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    background: #000;
    color: #0f0;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
}

#screen {
    width: 290px;
    height: 100px;
    font-size: 2rem;
    text-align: right;
    padding: 0px;
    background: #0f0d;
    color: #fffff;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    background: #333;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #444;
}

button:active {
    background: #555;
}

button.operator {
    background: #ff9500;
}

button.operator:hover {
    background: #ffa733;
}

button.equals {
    background: #1a73e8;
    grid-column: span 1;
}

button.equals:hover {
    background: #3a8bff;
}

button.clear {
  background: #ffd933 ;
}